<head>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery.countdown/dist/jquery.countdown.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
</head>
<body>
  <main>
    <div class="home-welcome">
      <div class="container">
        <div class="pure-g-r">
          <div class="pure-u-1-2">
            <div class="main-example">
              <p>
                Si lees esto es porque estás invitada a comer Roscón en mi casa :P
              </p>
              <p>
                Tiempo para comer el roscon &hearts; :
              </p>
              <div class="countdown-container" id="main-example"></div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/template" id="main-example-template">
        <div class="time <%= label %>">
          <span class="count curr top"><%= curr %></span>
          <span class="count next top"><%= next %></span>
          <span class="count next bottom"><%= next %></span>
          <span class="count curr bottom"><%= curr %></span>
          <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
        </div>
      </script>
    </div>
  </main>
</body>